* {
    margin: 0;
    padding:0;
    box-sizing: border-box;

    /*padding é o espaçamento interno dos elementos  
     crtl + espaço, aparece algumas opções
      ul é lista */
}

ul {
    list-style: none;
    }
    a{
      text-decoration: none;  
    } nav {
      text-decoration: none;
    }